# Requirements for MLOps Vertex
google-cloud-aiplatform==1.7.1
google-cloud-pipeline-components==0.2.1
kfp==1.8.10
tfx==1.4.0
pre-commit

# Requirement for local tests of hyperparameter tuning jobs
cloudml-hypertune

# Requirments for the SNGP labs (commented out for now because it upgrades to TF 2.8)
# which will conflicts with the MLOPs labs targeted to TF 2.6
# tf-models-official==2.8.0
