# Requirements for asl-ml-immersion repository
google-cloud-aiplatform==1.33.1
google-cloud-pipeline-components==1.0.44
pyyaml==5.3.1
kfp==1.8.22
# tfx==1.13.0
cloudml-hypertune
apache-beam==2.46.0
tensorflow_text==2.12.1
tf-agents==0.16.0
tf-models-official==2.12.0
tensorflow-model-remediation==0.1.7.1
keras_cv==0.5.1
keras_nlp==0.5.1

# For development work
pre-commit
