# Fill in your GCP project info and rename this file to ".env".

# General
# GOOGLE_CLOUD_BUCKET_NAME=YOUR_GS_BUCKET_NAME
# GOOGLE_CLOUD_STORAGE_BUCKET=<YOUR_STORAGE_BUCKET>  # Only required for deployment on Agent Engine

# # AI Studio
# GOOGLE_GENAI_USE_VERTEXAI=FALSE
# GOOGLE_API_KEY=PASTE_YOUR_ACTUAL_API_KEY_HERE

# # VertexAI
# GOOGLE_GENAI_USE_VERTEXAI=1
# GOOGLE_CLOUD_PROJECT=<YOUR_PROJECT_ID>
# GOOGLE_CLOUD_LOCATION=<YOUR_PROJECT_LOCATION>

