google-cloud-pubsub<=2.18.4
google-cloud-bigquery==3.21.0
google-cloud-bigquery-storage<=2.22.0

google-cloud-aiplatform==1.115.0
kfp==2.4.0
google-cloud-pipeline-components==2.8.0
plotly<=5.18.0
xgboost<=2.0.1
apache_beam[gcp]==2.65.0