Flask==3.0.0
gunicorn==20.1.0
pre_commit==4.0.1
pytest==8.3.3
google-cloud-aiplatform==1.74.0
langchain==0.3.12
langchain-chroma==0.1.4
langchain-community==0.3.12
langchain-core==0.3.25
langchain-google-vertexai==2.0.9
langchain-text-splitters==0.3.3
jupyterlab
pydantic==2.9.2
pandas==2.2.2